﻿@using DBO.Data.ViewModels
@model IEnumerable<CompanyViewModel>

<section class="section-cards">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 d-none d-lg-block">

                <div class="card-white pad p-3 pl-4" style="min-height: 541px">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem sed maiores, dicta nostrum. Fugiat aliquam, impedit facilis, libero fugit repellat, aut earum fuga neque dolorem est aperiam laborum dolorum numquam.</p>
                </div>

                <div class="card-white pad p-3 pl-4" style="min-height: 541px">

                </div>

            </div>
            <div class="col-lg-6">
                <div id="companies-section">
                    @foreach (CompanyViewModel company in Model)
                    {
                        <div class="card-white pad" style="cursor: pointer;" onclick="window.location='companies/details/@company.Id';">
                            <div class="float-right text-center light">
                                <div class="h4 mb-0 green light">@company.Connections</div>
                                <small class="gray">CONNECTIONS</small>
                            </div>
                            <h5 class="mb-0">@company.Name</h5>
                            <div>@company.Address1</div>
                            <div>@company.Address2</div>
                            <div>Tif.: @company.Phone</div>
                            <div class="text-right">
                                @{
                                    if (company.Image != null)
                                    {
                                        <img src="~/@company.Image">
                                    }
                                    else
                                    {
                                        <div class="gray light">@company.TextDescription</div>
                                    }
                                }
                            </div>
                        </div>
                    }
                </div>
                @if (ViewBag.HasMoreResults)
                {
                    <div class="col-xs-12">
                        <button class="btn btn-default" id="load-more" style="margin-left:43%;">Load more</button>
                    </div>
                }
            </div>
            <div class="col-lg-3 d-none d-lg-block">

                <div class="row">
                    <div class="col-sm-4 col-lg-12">
                        <div class="card-white pb-3">
                            <div class="gray pl-2"><small>ANNONCE</small></div>
                            <img src="~/img/img-1.png" alt="">
                        </div>
                    </div>
                    <div class="col-sm-4 col-lg-12">
                        <div class="card-white pb-3">
                            <div class="gray pl-2"><small>ANNONCE</small></div>
                            <img src="~/img/img-2.png" alt="">
                        </div>
                    </div>
                    <div class="col-sm-4 col-lg-12">
                        <div class="card-white pb-3">
                            <div class="gray pl-2"><small>ANNONCE</small></div>
                            <img src="~/img/img-3.png" alt="">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

@section scripts{
    <script>
        $(function () {
            let pageNumber = 1;
            $('#load-more').click(function () {
                loadMore(pageNumber++);
            });
        });

        function loadMore(pageNumber) {
            let baseUrl = '/Home/ReadMore';
            let search = $('#search').val();
            let searchCity = $('#searchCity').val();
            $.ajax({
                url: baseUrl.concat('?pageNumber=', pageNumber, '&search=', search, '&searchCity=', searchCity),
                success: function (response, status, xhr) {
                    $('#companies-section').append(response);
                    let hasMoreResults = xhr.getResponseHeader('X-HasMoreResults');

                    if (hasMoreResults === 'false') {
                        $('#load-more').parent().hide();
                    }
                }
            })
        }
    </script>
}