﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <title>DBO</title>
    @Styles.Render("~/Content/css")
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-dark navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="~/"><img src="~/img/logo.png" alt=""></a>
            <div class="text-right order-lg-2 ml-auto">
                @Html.Partial("_LoginPartial")
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navbarText">
                &nbsp;
            </div>
        </div>
    </nav>

    <section class="section-bunner d-flex flex-column justify-content-end">
        <div class="form-wrap">
            <div class="container">
                <form action="/" class="px-lg-5 mx-lg-5">
                    <div class="form-row">
                        <div class="form-group col-6 col-sm-8">
                            <input type="text" class="form-control"  id="search" name="search" placeholder="@Resources.SearchCompanies..." value="@ViewBag.Search">
                        </div>
                        <div class="form-group col">
                            <input type="text" class="form-control"  id="searchCity" name="searchCity" placeholder="@Resources.City" value="@ViewBag.SearchCity">
                        </div>
                        <div class="form-group col-auto">
                            <input type="submit" class="btn btn-dark btn-block" value="@Resources.Search" />
                        </div>
                    </div>
                    <div class="text-right h5">
                        <a href="#" class="white">@Resources.AdvancedSearch</a>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <nav class="menu nav nav-pills nav-justified">
        <a class="nav-item nav-link active uppercase" href="#">@Resources.Companies</a>
        <a class="nav-item nav-link uppercase" href="#">@Resources.NewsFeeds</a>
        <a class="nav-item nav-link uppercase" href="#">@Resources.JobExchange</a>
    </nav>

    @RenderBody()

    <section class="section-google">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 mb-3">
                    <a href="#"><img src="img/google-1.png" alt=""></a>
                </div>
                <div class="col-sm-6 col-md-3 mb-3">
                    <a href="#"><img src="img/google-2.png" alt=""></a>
                </div>
                <div class="col-sm-6 col-md-3 mb-3">
                    <a href="#"><img src="img/google-3.png" alt=""></a>
                </div>
                <div class="col-sm-6 col-md-3 mb-3">
                    <a href="#"><img src="img/google-4.png" alt=""></a>
                </div>
            </div>
        </div>
    </section>

    <section class="section-text">
        <div class="container">
            <h3><i>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit distinctio obcaecati blanditiis explicabo modi asperiores ea, quae, excepturi unde voluptatum quam iusto ratione quos, culpa, similique vero consectetur facere quo!</i></h3>
        </div>
    </section>

    <section class="section-black" style="min-height: 338px">
        <div class="container">
            @using (Html.BeginForm("SetCulture", "Home"))
            {
                <div>
                    <input type="hidden" id="culture" name="culture" />
                    <a class="language" href="#" data-culture="en">English</a>
                    <a class="language" href="#" data-culture="da">Danish</a>
                </div>
            }
        </div>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <script>
        $('.language').click(function (e) {
            e.preventDefault();
            $('#culture').val($(this).attr('data-culture'));
            $(this).closest('form').submit();
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>

