﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right white">
        @*<li>
            @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>*@
        <li>@User.Identity.GetUserName()</li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()"> &nbsp; Log off</a></li>
    </ul>
    }
}
else
{
    <form class="form-inline mt-3 white">
        <a class="btn btn-success mr-2 uppercase" href="/account/register"><strong>@Resources.SignUp</strong></a>
        <a class="btn btn-success uppercase" href="/account/login"><strong>@Resources.SignIn</strong></a>
    </form>
}
