﻿body {
    background-color: #F3F3F3;
}

.company-details{
    margin-top:20px;
}

.company-details hr {
    margin-top: 5px;
    margin-bottom: 10px;
    width: 100%;
    float: left;
}

.company-details .row > div{
    min-height:640px;
    margin-bottom:20px;
}

.title-strikethrough {
    overflow: hidden;
    text-align: center;
    color: lightgray;
}

/* Logo */
.company-details .company-logo {
    margin: 1em;
    padding: 0;
}

/* Title strikethrough*/

.title-strikethrough {
    text-transform: uppercase;
    margin-bottom:15px;
}

.title-strikethrough:before,
.title-strikethrough:after {
    outline-color: lightgray;
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
    background-color:lightgray;
}

.title-strikethrough:before {
    right: 0.5em;
    margin-left: -50%;
}

.title-strikethrough:after {
    left: 0.5em;
    margin-right: -50%;
}

/* Connections */
.company-details .connections {
    text-align: center;
    margin-bottom: 30px;
}

.company-details .connections span {
    color: #8dc53f;
    font-size: 24px;
}

.company-details .connections p {
    color: lightgray;
    font-size: 14px;
    text-transform: uppercase;
}

/* Skills */
.company-details .skills {
    text-transform: uppercase;
}

.company-details .skills ul {
    color: lightgray;
    list-style: none;
    width: 100%;
    display: inline-block;
    padding-left: 0;
    padding-bottom: 15px;
}

.company-details .skills ul li {
    width: 33%;
    max-width: 33%;
    text-align: center;
    font-size:10px;
    float: left;
    color: gray;
}

/* Google maps */
.company-details .google-maps {
    position: relative;
    padding-bottom: 100%;
    margin:-15px;
    overflow: hidden;
    margin-bottom: 5px;
}

.company-details .google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

/* Contact details */
.company-details .contact {
    margin-bottom: 20px;
    margin-left:10%;
    font-size:0.8em;;
}
.company-details .contact i {
    margin-right: 20px;
    padding-top: 6px;
    font-size:1.2em;
}

.company-details .contact div {
        float: left;
    }

.company-details .connection-logo {
    margin: 10px;
}


.add-article {
    font-family: 'Segoe UI';
}
/* Add article form*/
.add-article .body{
    color:lightgray;
    padding-left:20px;
    padding-top:10px;
}

.add-article .header {
    background-color: #ECEBEB;

}

.company-details .add-article .body textarea {
    width:100%;
    border:none;
    resize:vertical;
    padding-top:10px;
    padding-left:30px;
}

.company-details .add-article .body textarea :-moz-placeholder {
    color: #B9B7B7;
}

.company-details .add-article .body span{
    padding: 0;
    font-size:0.8em;
}

.company-details .add-article .body button{
    padding: 4px 25px 4px 25px;
    border-radius:0;
    font-size:0.8em;
}

/* Article */
.company-details .company-article {
    margin-bottom:25px;
}

.company-details .company-article .company-article-data {
    padding: 10px 30px 10px 30px;
    margin-bottom: 10px;
}

.company-details .company-article .article-footer {
    font-size: 0.8em;
    color: #818080;
    padding-left:15px;
}

.company-details .company-article .article-footer .views{
  margin-right:10px;
}

.company-details .company-article .article-footer .views::after {
    margin-left:10px;
    content: '\2022';
    display: inline-block;
}

.company-details .comment-form textarea {
    width: 100%;
    border: none;
    padding-left:24px;
    padding-top:10px;
    resize: vertical;
}


/* Connections */

.company-details .add-connection{
    text-align:center;
    padding: 15px 0 21px 0;
}