﻿html {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

* {
    outline: none !important;
}

a {
    text-decoration: none;
}

.h5, h5 {
    font-size: 1.1rem;
}

button:focus {
    outline: 0;
}

.btn {
    cursor: pointer;
    box-shadow: none !important;
    opacity: 1.0;
}

.btn-success {
    background-color: #8dc53f !important;
    border-color: #8dc53f !important;
}

.btn-dark {
    background-color: #000;
    border-color: #95989a;
}

.btn-dark:hover {
    background-color: #000;
    border-color: #95989a;
}

.light {
    font-weight: 100;
}

.white {
    color: #fff;
}

.green {
    color: #8dc53f;
}

.gray {
    color: #818080;
}

.fz-14 {
    font-size: 14px;
}

.navbar-dark {
    border-top: 8px solid #8dc53f;
    background-color: #000;
}

.navbar-dark .btn {
    border-radius: 0;
    font-size: 14px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.navbar-toggler {
    padding: 0;
    margin-top: .5rem;
    margin-bottom: 6px;
    border: 0;
}

.navbar-brand {
    max-width: 200px;
}

@media (max-width: 575px) {
    .navbar-dark .btn {
        font-size: 12px;
    }

    .navbar-brand {
        position: absolute;
    }
}

.section-bunner {
    min-height: 612px;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-position: left top;
}

@media (max-width: 991px) {
    .section-bunner {
        min-height: 317px;
    }
}

@media (max-width: 575px) {
    .section-bunner {
        min-height: 148px;
    }
    .menu.nav-pills .nav-link {
        font-size: 0.8rem;
    }
}

.section-bunner .form-wrap {
    background-color: rgba(0, 0, 0, .8);
    padding-top: 100px;
    padding-bottom: 54px;
}

@media (max-width: 991px) {
    .section-bunner .form-wrap {
        padding-top: 32px;
        padding-bottom: 16px;
    }
}

.menu.nav-pills .nav-link {
    background-color: #000;
    border: 1px solid #2e302f;
    border-radius: 0;
    color: #fff;
}

@media (min-width: 992px) {
    .section-bunner .form-control,
    .section-bunner .btn {
        font-size: 1.25rem;
        padding: .75rem 1.5rem;
        color: #444444;
    }

    .menu.nav-pills .nav-link {
        font-size: 1.5rem;
    }
}

.menu.nav-pills .nav-link:hover {
    opacity: 0.9;
    color: #8dc53f;
}

.menu.nav-pills .nav-link.active,
.menu.nav-pills .show > .nav-link {
    background-color: #8dc53f;
    color: #fff !important;
}

.section-cards {
    padding-top: 30px;
    padding-bottom: 15px;
    background-color: #f3f3f3;
}

.card-white {
    background-color: #fff;
    border: 1px solid #dddfe2;
    border-radius: 5px;
    margin-bottom: 15px;
}

.card-white.pad {
    padding: 15px 10px 15px 20px;
}

.section-google {
    border-top: 1px solid #95989a;
    padding-top: 20px;
    padding-bottom: 15px;
}

.section-text {
    padding-top: 100px;
    padding-bottom: 100px;
    border-top: 2px solid #95989a;
    border-bottom: 2px solid #95989a;
    background-color: #484343;
    color: #fff;
}

    .section-text h3 {
        line-height: inherit;
    }

.section-black {
    background-color: #000;
}

.uppercase {
    text-transform: uppercase;
}

.checkbox-group {
    position: relative;
    margin-bottom: 0;
    display: block;
}
.checkbox-group input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
}
.checkbox-group input[type="checkbox"] + .switch {
    display: block;
    width: 28px;
    height: 28px;
    border: 1px solid #ced4da;
    background-color: #fff;
    border-radius: .2rem;
    transition: .1s;
    cursor: pointer;
    font: normal normal normal 16px/1 FontAwesome;
    text-align: center;
    padding: 5px;
}
.checkbox-group:hover input[type="checkbox"] + .switch,
.checkbox-group input[type="checkbox"]:checked + .switch {
    background-color: #ced4da;
}
.checkbox-group input[type="checkbox"]:checked + .switch:before {
    content: "\f00c";
}
.checkbox-group:hover input[type="checkbox"]:checked + .switch {
    opacity: 0.9;
}
.badge {
    padding: 6px 6px 6px 12px;
    font-size: 14px;
    margin-bottom: 12px;
    text-align: left;
    display: block;
}
.badge-primary {
    color: #709bba;
    background-color: #e1ecf4;
}
.badge-close {
    color: #fff;
    background-color: #dae3ea;
    padding: 4px 7px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1rem;
}