﻿@model DBO.Data.Models.Company
@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
<link href="~/Content/font-awesome.css" rel="stylesheet" />
<link href="~/Content/company-details.css" rel="stylesheet" />

<div class="container company-details">
    <div class="row">
        <div class="col-lg-3" style="padding:0; margin:0;">
        <div class="card-white" style="padding:15px;">
            <div class="company-logo">
                <img src="https://picsum.photos/300/100" />
            </div>
            <div class="skills">
                <div class="title-strikethrough">Skills</div>
                <ul>
                    @foreach (var skill in Model.CompanySkills)
                    {
                        <li>@skill.Skill.Name</li>
                    }
                </ul>
            </div>
            <hr />
            <div class="connections">
                <span>@Model.Connections</span>
                <p>Connections</p>
            </div>
            <div class="google-maps">
                <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBWrd9XVWtqRwTdIh46sN4jsJUwGLElPxQ&q=@Model.Address" width="600" height="450" frameborder="0" style="border:0"></iframe>
            </div>
            <table class="contact">
                <tbody>
                    <tr>
                        <td valign="top">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                        </td>
                        <td>
                            @Model.City<br />
                            @Model.Address<br />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                        </td>
                        <td>
                            <div><a href="#">Link</a></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="fa fa-phone" aria-hidden="true"></i>
                        </td>
                        <td>
                            <div>@Model.Phone</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="fa fa-mobile-phone" style="margin-left:3px" aria-hidden="true"></i>
                        </td>
                        <td>
                            <div><a href="tel:@Model.Phone">Send til dim telefon</a></div>
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>
            <div class="d-none">
                <a href="#"><img src="/img/google-1.png" alt=""></a>
            </div>
            <div class="d-none">
                <a href="#"><img src="/img/google-2.png" alt=""></a>
            </div>
            <div class="d-none">
                <a href="#"><img src="/img/google-3.png" alt=""></a>
            </div>
            
        </div>
        <div class="col-lg-6">
            <div class="card add-article" style="margin-bottom:20px;">
                <div class="card-header header">
                    Skriv til Esbjerg Erhvervsudvikling
                </div>
                <div class="card-block body">
                    <textarea placeholder="Skriv din besked her..." rows="2"></textarea>
                    <div class="col-md-12">
                        <span class="col-md-3" style="color:lightgray;">Indsæt billede</span>
                        <button class="btn btn-success pull-right" style="margin-bottom:10px;">SEND</button>
                    </div>
                </div>
            </div>
            <div class="company-article">
                <div class="card company-article-data">
                    <div class="card-block article-body">
                        <img src="https://picsum.photos/200/20" />
                        <h4 class="card-title">Ny erhvervschef</h4>
                        <p class="card-text ">
                            Ny erhvervschef En kompetent kapacitet bliver den nye erhvervschef i Esbjerg Erhvervsudvikling.
                            I et stærkt felt af ansøgere løb tidligere direktør for Rybners, Karsten Rieder
                            af med jobbet som erhvervschef i Esbjerg Erhvervsudvikling.
                        </p>
                        <div class="row article-footer">
                            <span class="views"> 12 visninger</span>
                            <span>4 kommentarer</span>
                        </div>
                    </div>

                </div>
                <div class="card  comment-form">
                    <div class="card-block">
                        <textarea placeholder="Skriv kommentar..." rows="1"></textarea>
                    </div>
                </div>
            </div>
            <div class="company-article">
                <div class="card company-article-data">
                    <div class="card-block article-body">
                        <img src="https://picsum.photos/300/50" />
                        <h4 class="card-title">Ny erhvervschef</h4>
                        <p class="card-text ">
                            Ny erhvervschef En kompetent kapacitet bliver den nye erhvervschef i Esbjerg Erhvervsudvikling.
                            I et stærkt felt af ansøgere løb tidligere direktør for Rybners, Karsten Rieder
                            af med jobbet som erhvervschef i Esbjerg Erhvervsudvikling.
                            <img src="https://picsum.photos/600/400" />
                        </p>
                        <div class="row article-footer">
                            <span class="views"> 12 visninger</span>
                            <span>4 kommentarer</span>
                        </div>
                    </div>

                </div>
                <div class="card  comment-form">
                    <div class="card-block">
                        <textarea placeholder="Skriv kommentar..." rows="1"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 card-white" style="min-height:710px;">
            <div class="add-connection">
                @*@Html.Action(AddConnection)*@
                <a href="#">+ Connection</a>
            </div>
            <div class="title-strikethrough">Connections</div>
            @* model connections loop*@
            <div class="connection-logo">
                <img src="~/img/img-1.png" />
            </div>
            <div class="connection-logo">
                <img src="~/img/img-2.png" />
            </div>
        </div>
    </div>
</div>


@section scripts{

}